<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="jumbotron">WELCOME TO STG</h1>
<nav>
    <ul>
        <il><a class="home" href="/">Home</a></il>
        <il><a class="short" href="goals"> Short Term Goals</a></il>
        <il><a class="mid" href="goals2"> Mid Term Goals</a></il>
        <il><a class="long" href="goals3"> Long Term Goals</a></il>
    </ul>
</nav>
<section>
<div class="container">
    <div class="left">
    </div>
    <div class="right">
        <h2> Welcome to STG </h2>
        <p> STG is a app to help keep your life on track. Every Successful person says to write down your goals and speak them into exsistance. Heres a app to help you do just that. No Excuses Just the Steps To Greatness </p>
    </div>

</div>
</section>
</body>


<footer>This Application was created by Dudley R. Gamino J.R. in 2022 <a href="https://www.linkedin.com/in/dudley-gamino-43a432236/"target="_blank">LinkedIn</a> & <a href="https://github.com/Don-70"target="_blank">gitHub</a></footer>
</html>
