<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="/css/edit.css">
    <title>Document</title>
</head>
<body>
    <ul>

        <a href="/goals"> Short Term Goals</a>
    </ul>
    <section>
        <div class="container">
            <div class="list">
    <h1> New Goal </h1>
    <form action="/goals" method="POST">
        <label> Title:
            <input type="text" name="title">
        </label><br>
        <label>Step One:
            <input type="text" name="Step1">
        </label><br>
        <label>Step Two:
            <input type="text" name="Step2">
        </label><br>
        <label>Step Three:
            <input type="text" name="Step3">
        </label><br>
        <input type="submit" value="Add Goal"></input>
    </form>
</div>
</div>
</section>
</body>
<footer>This Application was created by Dudley R. Gamino J.R. in 2022 <a href="https://www.linkedin.com/in/dudley-gamino-43a432236/"target="_blank">LinkedIn</a> & <a href="https://github.com/Don-70"target="_blank">gitHub</a></footer>
</html>

