<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mid Term Goals</h1>
    <ul> 

        <% goals2.forEach(g => { %>
            <li>
                <a href ="/goals2/<%= g._id %>">
                    <%= g.title %>
                </a>
            </li>
            <%});%>
        </ul>
        <a href="/goals2/new"> Add to Goals List</a>
        <%- include('./nav.ejs') %>    
        <a href="/"> Home</a>
        
</body>
</html>